<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmput301w14t09"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    
    
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_deflocation"
        android:label="GPost-It"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">
        <activity
            android:name="ca.cmput301w14t09.MainActivity"
            android:label="GPost-It" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.cmput301w14t09.TopCommentsActivity"
            android:label="GPosts" >
        </activity>
        <activity
            android:name="ca.cmput301w14t09.FavoritesActivity"
            android:label="Favorite GPosts" >
        </activity>
        <activity
            android:name="ca.cmput301w14t09.CommentListActivity"
            android:label="GReplies" >
        </activity>
        <activity
            android:name="ca.cmput301w14t09.PictureActivity"
            android:label="title_activity_picture" >
        </activity>
        <activity
            android:name="ca.cmput301w14t09.FavoriteActivity"
            android:label="Favorite GPosts" >
        </activity>
        <activity
            android:name="ca.cmput301w14t09.ChooseLocationActivity"
            >
        </activity>
        <activity android:name="ca.cmput301w14t09.UserProfileActivity"
            android:label="GProfile"
            >
        </activity>
    </application>

</manifest>
